<form action= '/newfriend' method= 'post'>

  <p> Name </p>
  <input type='text' name= 'name' autofocus>

  <p> Age </p>
  <input type='text' name= 'age' autofocus>
  <p> Gender </p>
  <input type='text' name= 'gender' autofocus>

  <p> A lovely picture </p>
  <input type='text' name= 'image' autofocus>
  <p> Twitter Handle </p>
  <input type='text' name= 'twitter' autofocus>
  <p> Your Git </p>
  <input type='text' name= 'github' autofocus>

  <p> Facebook </p>
  <input type='text' name= 'facebook' autofocus>

  <br></br>

  <button>Submit Entry</button>

</form>



