<div class="hero-unit">
  <h1>Stasher</h1>
  <p>Sift through the BS</p>
  <p>

    <a class="btn btn-primary btn-large" href="/new">
      Start your Stash
    </a>
  </p>
</div>




<%# we want to redirect to corresponding page of genre. our homepage will have all of our distinct genres.    %>

