<section>
        <header><h1> Stock Quotes ! </h1></header>


  <form action='/quotes'  method='get'>
    <input type='text' name='first'>
    <button>Get Quotes NAOW! </button>
  </form>


      <div class='hi'><%= @first %> </div>
      <div class='value'><%= @result %> </div>
    </section>




