<! doctype html>


<html>

  <head>
     <meta charset='utf-8'>
     <link rel='stylesheet' href='reset.css'>
    <link rel='stylesheet' href= '/style.css'>
  </head>

    <nav>
      <ul>
        <p class='links' id='l1'> <a href='/'> Home </a> </p>
        <p class='links' id='l2'> <a href='/new'>New </a> </p>
        <p class='links' id='l3'> <a href='/faq'>FAQ</a></p>
      </ul>


    </nav>


      <%= yield %>

    </body>

    </html>

