

<h2>Calculator </h2>

<form action='/calc' method='get'>
  <input type="text" name= "first">
  <input type="text" name= "operator">
  <input type="text" name= "second">
  <button>Calculate!</button>
</form>


<p><div><%=@first%></div>  <div><%=@second%></div> <div><%= @result %></div></p>





